{% extends "recipelist/layout.html" %}

{% block content %}
    <h1>Search Results</h1>
    {% if recipe_url %}
        <p>Recipe for {{ title }}</p>
        <p>Source From: {{ source }}</p>

        <p><a href="{{ recipe_url }}" class="card-link">{{recipe_url}}</a></p>
        <form action="{% url 'recipelist:adjusted_search' %}" method="GET">
            <div class="form-group">
                <label for="servings">Servings:</label>
                <select class="form-control" name="servings" id="servings">
                    <option value="1" {% if servings == '1' %}selected{% endif %}>1</option>
                    <option value="2" {% if servings == '2' %}selected{% endif %}>2</option>
                    <option value="3" {% if servings == '3' %}selected{% endif %}>3</option>
                    <option value="4" {% if servings == '4' %}selected{% endif %}>4</option>
                    <option value="4" {% if servings == '4' %}selected{% endif %}>5</option>
                    <option value="4" {% if servings == '4' %}selected{% endif %}>6</option>
                    <option value="4" {% if servings == '4' %}selected{% endif %}>7</option>
                    <option value="4" {% if servings == '4' %}selected{% endif %}>8</option>
                    <option value="4" {% if servings == '4' %}selected{% endif %}>9</option>
                    <option value="4" {% if servings == '4' %}selected{% endif %}>10</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Adjust Servings</button>
            <input type="hidden" name="recipe_url" value="{{ recipe_url }}">
            <input type="hidden" name="title" value="{{ title }}">
            <input type="hidden" name="source" value="{{ source }}">
            <input type="hidden" name="stars_text" value="{{ stars_text }}">
            <input type="hidden" name="ingredients" value="{{ ingredients }}">
            <input type="hidden" name="directions" value="{{ directions }}">
        </form>
        <p>Servings: {{ servings }}</p>
        <p>Stars: {{ stars_text }}</p>
        <h2>Ingredients:</h2>
        <form action="{% url 'recipelist:grocery_list' %}" method="POST">
            {% csrf_token %}
            <ul>
                {% for ingredient in ingredients %}
                    <li>
                        <input type="checkbox" name="ingredient" value="{{ ingredient }}">
                        {{ ingredient }}
                    </li>
                {% endfor %}
            </ul>
            <button type="submit" class="btn btn-primary">Create Grocery List</button>
        </form>
        <h2>Directions:</h2>
        <ol>
            {% for direction in directions %}
                <li>{{ direction }}</li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No results found.</p>
    {% endif %}
{% endblock %}







