asgiref==3.7.2
beautifulsoup4==4.12.2
dj-database-url==2.1.0
Django==4.2.5
django-heroku==0.3.1
graphene==3.3
graphene-django==3.1.5
graphql-core==3.2.3
graphql-relay==3.2.0
gunicorn==21.2.0
pandas==2.1.0
pretty-html-table==0.9.16
python-dateutil==2.8.2
python-decouple==3.8
python-json-logger==2.0.7
whitenoise==6.5.0
requests==2.26.0

