asgiref==3.7.2
beautifulsoup4==4.12.2
decorator==5.1.1
Django==4.2.5
GitPython==3.1.36
graphene==3.3
graphene-django==3.1.5
graphql-core==3.2.3
graphql-relay==3.2.0
gunicorn==21.2.0
pandas==2.1.0
Pillow==10.0.0
pretty-html-table==0.9.16
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3.post1
PyYAML==6.0.1
sqlparse==0.4.4
whitenoise==6.5.0
